nav.navbar {
  background-color: #5e7088 !important;
}

.prodImg {
  height: 400px;
}

#pImage {
  height: 400px;
}

#pPrice {
  background-color: black;
  width: fit-content;
  border-radius: 6px;
  padding: 3px;
}

.rotate-center::before {
  -webkit-animation: rotate-center 0.6s linear infinite;
  animation: rotate-center 0.6s linear infinite;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
