nav.navbar {
  background-color: #5e7088 !important;
}

.prodImg {
  height: 400px;
}

#pImage {
  height: 400px;
}

#pPrice {
  background-color: black;
  width: fit-content;
  border-radius: 6px;
  padding: 3px;
}
